@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
}
.footer{
    text-align: center;
    color: #fff;
}

